
# Playwright
node_modules/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.git
.gitignore

Dockerfile
.dockerignore

/playwright/.auth/
.auth/
! src/environments/.env.example

